n8n/workflow.json
{
  "name": "SmartFeed Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "CronTrigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/process-rss",
        "options": {},
        "method": "POST"
      },
      "id": "ProcessRSS",
      "name": "Process RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/generate/",
        "options": {},
        "method": "POST",
        "sendBody": true,
        "jsonBody": "{\n  \"limit\": 10\n}"
      },
      "id": "GenerateContent",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "SmartFeed run complete. Attempted: {{$json[\"attempted\"]}} | Success: {{$json[\"success\"]}} | Failed: {{$json[\"failed\"]}}",
        "additionalFields": {}
      },
      "id": "TelegramNotify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "replace-with-your-credential-id",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Process RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process RSS": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
